# Rename this to .env and fill in the appropriate values.

# Set MySQL details - these are the defaults for local development and must be defined here.
MYSQL_ROOT_PASSWORD=root
MYSQL_PASSWORD=sparc
SPARC_DB_HOST=mysql
SPARC_DB_NAME=sparc
SPARC_DB_USER=sparc

# Only required for production. Defaults to no-reply@sample.org
#sender_address=foobar@example.com

RAILS_ENV=development
site_name=Local Environment v3.7.1
institution=My Organization
time_zone=Pacific Time (US & Canada)
TZ=America/Los_Angeles
use_short_interaction=true
SQL_MODE=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
DEFAULT_HOME_COLUMNS=srid,rmid,status,short_title,pi,coordinators,irb_approval_date,irb_expiration_date,organizations
ROOT_URL=http://localhost:3000
SPARC_MAILER_HOST=http://localhost:3000
SPARC_MAILER_SMTP_ADDRESS=smtp.example.com

# uncomment the following variable and run `rails assets:precompile` in the container to
# test a production-like configuration
#USE_COMPILED_ASSETS=true
